:root {
    /* ! Background colors */
    --bg-color: var(--tg-theme-bg-color);
    --secondary_bg_color: var(--tg-theme-secondary-bg-color);
    --section_bg_color: var(--tg-theme-section-bg-color);
    --header_bg_color: var(--tg-theme-header-bg-color);
    --button_color: var(--tg-theme-button-color);

    /* ! Text colors */
    --text_color: var(--tg-theme-text-color);
    --hint-color: var(--tg-theme-hint-color);
    --link_color: var(--tg-theme-link-color);
    --button_text_color: var(--tg-theme-button-text-color, #007aff);
    --accent_text_color: var(--tg-theme-accent-text-color);
    --section_header_text_color: var(--tg-theme-section-header-text-color);
    --subtitle_text_color: var(--tg-theme-subtitle-text-color);
    --destructive_text_color: var(--tg-theme-destructive-text-color);

    /* !Other */
    --section_separator_color: var(--tg-theme-section-separator-color);
}
