.radio {
    will-change: background;
    transition: background 150ms linear;
    background-position: center;

    &:checked {
        background:
            url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.78 0.902136C11.2484 1.19485 11.3907 1.8118 11.098 2.28013L5.47303 11.2801C5.30222 11.5534 5.01018 11.7276 4.68855 11.7481C4.36693 11.7686 4.05515 11.6328 3.85107 11.3834L0.476073 7.25837C0.126345 6.83093 0.189347 6.2009 0.616792 5.85118C1.04424 5.50145 1.67426 5.56445 2.02399 5.9919L4.51603 9.03773L9.40203 1.22013C9.69474 0.751798 10.3117 0.609425 10.78 0.902136Z' fill='white'/%3E%3C/svg%3E%0A")
                center no-repeat,
                var(--tg-theme-accent-text-color, #007aff);
    }
}
