.root {
    position: relative;
    isolation: isolate;
}

.root:has(.trigger[aria-expanded="false"]) .menu {
    display: none;
}

.root:has(.trigger[aria-expanded="true"]) .menu {
    display: block;
}

.menu {
    display: none;
    width: 100%;
    position: absolute;
    z-index: 1;
}
